<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEALTH LEARNING</title>
</head>
<body>
    <h1>Health Learning</h1>
    <hr>
    <form action="result">
        Genero: <input type="number" name="genero" required> <br>
        Idade: <input type="number" name="idade" required> <br>
        Fumante: <input type="number" name="fumante" required> <br>
        Dedos amarelos: <input type="number" name="dedos_amarelos" required> <br>
        Ansiedade: <input type="number" name="ansiedade" required> <br>
        Pressão Par: <input type="number" name="pressao" required> <br>
        Doenças crônicas: <input type="number" name="doencas_cronicas" required> <br>
        Fadiga: <input type="number" name="fadiga" required> <br>
        Alergia: <input type="number" name="alergia" required> <br>
        Chiado: <input type="number" name="chiado" required> <br>
        Consumo de álcool: <input type="number" name="alcool" required> <br>
        Tosse: <input type="number" name="tosse" required> <br>
        Falta de ar: <input type="number" name="falta_ar" required> <br>
        Dificuldade de engolir: <input type="number" name="engolir" required> <br>
        Dor no Peito: <input type="number" name="dor_peito" required> <br>
        <input type="submit">

    </form>
</body>
</html>